.card-skills{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    flex: 1;

    border: solid 2px var(--fifth-color);
    border-radius: 60px;
    padding: 10px 40px 10px 20px;

    background-color: var(--third-color);
}

.icon-card-skills{
    width: 20px;
    height: 20px;
    color: var(--fifth-color);
}

.title-card-skills{
    color: var(--seventh-color);
    font-size: 14px;
}