.container-input{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid var(--nineth-color);
    border-radius: 5px;
    font-size: 16px;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    color: rgba(55, 138, 221, 0.8);
    transition: ease-in-out 0.3s;
}

input[type="text"].input-text-username:focus, input[type="password"].input-password-user:focus, input[type="email"].input-email-user:focus, input[type="text"].codigo-authentication:focus{
    outline: none;
    border-color: var(--fifth-color);
    border-width: 1px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    color: var(--second-color);
}


input[type="text"].codigo-authentication {
    height: auto;
    padding: 0.5rem;
    text-align: center;
}

.container-input:focus-within .icon-input-text {
    color: var(--fifth-color);
}

.container-input:focus-within .icon-input-email {
    color: var(--fifth-color);
}

.container-input:focus-within .icon-input-password {
    color: var(--fifth-color);
}



input[type="submit"]{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 16px;
    padding-left: 2.2rem;
    background-color: var(--second-color);
    color: var(--seventh-color);
    cursor: pointer;
}

.icon-input-text{
    position: absolute;
    left: 10px;
    color: var(--nineth-color);
    font-size: 20px;
}

.icon-input-email{
    position: absolute;
    left: 10px;
    color: var(--nineth-color);
    font-size: 20px;
}

.icon-input-submit{
    position: absolute;
    left: 10px;
    color: var(--nineth-color);
    font-size: 20px;
}

.input-submit-signature-draft, .input-submit-signature{
    padding-left: 0 !important;
}

.icon-input-password{
    position: absolute;
    left: 10px;
    color: var(--nineth-color);
    font-size: 20px;
}

.icon-see-password{
    position: absolute;
    right: 10px;
    color: var(--nineth-color);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon-see-password-visible{
    position: absolute;
    right: 10px;
    color: var(--nineth-color);
    font-size: 20px;
    cursor: pointer;
}

.icon-hide-password{
    position: absolute;
    right: 10px;
    color: var(--nineth-color);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon-hide-password-visible{
    position: absolute;
    right: 10px;
    color: var(--nineth-color);
    font-size: 20px;
    cursor: pointer;
}

.input-submit-block{
    cursor: not-allowed;
}