.container-input{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid var(--nineth-color);
    border-radius: 5px;
    font-size: 16px;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    color: var(--nineth-color);
}

input[type="submit"]{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 16px;
    padding-left: 2.2rem;
    background-color: var(--second-color);
    color: var(--seventh-color);
    cursor: pointer;
}

.icon-input-text{
    position: absolute;
    left: 10px;
    color: var(--nineth-color);
    font-size: 20px;
}

.icon-input-email{
    position: absolute;
    left: 10px;
    color: var(--nineth-color);
    font-size: 20px;
}

.icon-input-submit{
    position: absolute;
    left: 10px;
    color: var(--nineth-color);
    font-size: 20px;
}

.input-submit-signature-draft, .input-submit-signature{
    padding-left: 0 !important;
}

.icon-input-password{
    position: absolute;
    left: 10px;
    color: var(--nineth-color);
    font-size: 20px;
}

.icon-see-password{
    position: absolute;
    right: 10px;
    color: var(--nineth-color);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon-see-password-visible{
    position: absolute;
    right: 10px;
    color: var(--nineth-color);
    font-size: 20px;
    cursor: pointer;
}

.icon-hide-password{
    position: absolute;
    right: 10px;
    color: var(--nineth-color);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon-hide-password-visible{
    position: absolute;
    right: 10px;
    color: var(--nineth-color);
    font-size: 20px;
    cursor: pointer;
}

.input-submit-block{
    cursor: not-allowed;
}