/* Contenedor principal */
.container-father-menu {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 20%;
    height: 100vh;
    padding: 0.5rem 1rem;

    background-color: var(--fourth-color);
}

.container-left-menu {
    width: 100%;
    height: auto;

    background-color: var(--fourth-color);
}

/* Logo y titulos */
.container-logo-left-menu {
    display: flex;
    width: 100%;
}

.logo-left-menu {
    width: 30%;
}

.container-title-left-menu {
    display: flex;
    flex-direction: column;
}

.title-left-menu {
    color: var(--seventh-color);
    font-size: 30px;
    font-weight: 630;
}

.title2-left-menu {
    color: var(--nineth-color);
    font-size: 18px;
    font-weight: 500;
}

/* Listas del menu */
.list-left-menu,
.sublist-left-menu {
    width: 100%;
    list-style: none;
}

.sublist-left-menu {
    padding: 0 2rem;
}

/* Elementos auxiliares */
.hr-left-menu {
    margin-top: 10px;
    margin-bottom: 12px;
}

.description-left-menu {
    padding-left: 5px;

    color: var(--fifth-color);
    font-size: 0.9rem;
}
